<p-toast position="top-center"></p-toast>
<div class="p-grid">
  <div class="p-col">
    <h1 class="cabecalho">Listar Professores</h1>
  </div>
  <div class="p-col-1" style="align-self: center">
    <button
      pButton
      pRipple
      type="button"
      label="Voltar"
      class="p-button-rounded p-button-info"
      icon="pi pi-arrow-left"
      (click)="voltarTelaInicio()"
    ></button>
  </div>
  <div class="p-col-12">
    <form [formGroup]="formulario" (submit)="(false)">
      <p-card>
        <div class="p-grid">
          <div class="p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown
                [options]="listaSerie"
                optionLabel="name"
                formControlName="serie"
                [autoDisplayFirst]="false"
                [showClear]="true"
                id="formularioSerie"
              ></p-dropdown>
              <label for="formularioSerie">Série</label>
            </span>
          </div>
          <div class="p-col-12 p-md-4">
            <span class="p-float-label">
              <p-dropdown
                [options]="listaClasse"
                optionLabel="name"
                formControlName="classe"
                [autoDisplayFirst]="false"
                [showClear]="true"
                id="formularioClasse"
              ></p-dropdown>
              <label for="formularioClasse">Classe</label>
            </span>
          </div>
          <div class="p-col-6 p-md-2" style="margin-top: 10px">
            <button
              pButton
              label="Pesquisar"
              class="p-button-success"
              icon="pi pi-search"
              (click)="pesquisar()"
            ></button>
          </div>
          <div class="p-col-6 p-md-2" style="margin-top: 10px">
            <button
              pButton
              label="Limpar"
              class="p-button-outlined p-button-danger"
              icon="pi pi-trash"
              (click)="limpar()"
            ></button>
          </div>
        </div>
      </p-card>
    </form>
  </div>

  <div class="p-col-12" *ngIf="lista?.length > 0">
    <p-card>
      <p-table
        [value]="lista"
        [lazy]="true"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [totalRecords]="totalRegistros"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} até {last} de {totalRecords} registros"
        [lazyLoadOnInit]="false"
        (onLazyLoad)="pesquisar($event)"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-end">
            <p-button
              icon="pi pi-plus"
              label="Novo relacionamento"
              (click)="novoRelacionamento()"
            ></p-button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome Professor</th>
            <th>Matéria</th>
            <th>Série</th>
            <th>Classe(s)</th>
            <th>Alunos</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-relacionamento>
          <tr>
            <td>{{ relacionamento?.teacher?.name }}</td>
            <td>{{ relacionamento?.matter?.name }}</td>
            <td>{{ relacionamento?.degree?.name }}</td>
            <td>{{ exibirClasses(relacionamento?.class) }}</td>
            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-users"
                class="p-button-rounded p-button-secondary"
                (click)="buscarAlunosMatriculados(relacionamento)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<p-dialog
  header="Gerar novo relacionamento"
  [(visible)]="exibirModalNovoRelacionamento"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '50vw' }"
  [closable]="false"
  #dialog
>
  <form [formGroup]="formularioProfessor" (submit)="(false)">
    <div class="p-grid" style="margin-top: 10px">
      <div class="p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="listaProfessor"
            optionLabel="name"
            formControlName="professor"
            [appendTo]="dialog"
            [autoDisplayFirst]="false"
            id="formularioProfessorNome"
          ></p-dropdown>
          <label for="formularioProfessorNome">Professor</label>
        </span>
      </div>
      <div class="p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="listaMateria"
            optionLabel="name"
            formControlName="materia"
            [appendTo]="dialog"
            [autoDisplayFirst]="false"
            id="formularioProfessorMateria"
          ></p-dropdown>
          <label for="formularioProfessorMateria">Matéria</label>
        </span>
      </div>
      <div class="p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="listaSerie"
            optionLabel="name"
            formControlName="serie"
            [appendTo]="dialog"
            [autoDisplayFirst]="false"
            id="formularioProfessorSerie"
          ></p-dropdown>
          <label for="formularioProfessorSerie">Série</label>
        </span>
      </div>
      <div class="p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="listaClasse"
            optionLabel="name"
            formControlName="classe"
            [appendTo]="dialog"
            [autoDisplayFirst]="false"
            id="formularioProfessorClasse"
          ></p-dropdown>
          <label for="formularioProfessorClasse">Classe</label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="p-button-outlined p-button-danger"
      (click)="exibirModalNovoRelacionamento = false"
      label="Cancelar"
      styleClass="p-button-text"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-save"
      class="p-button-success"
      (click)="salvarNovoRelacionamento()"
      label="Salvar"
      styleClass="p-button-text"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Alunos matriculados"
  [(visible)]="exibirModalAlunos"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '50vw' }"
  [closable]="false"
  #dialog
>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="listaAlunos"
        [scrollable]="true"
        [rows]="listaAlunos?.length"
        scrollHeight="250px"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>RA</th>
            <th>Nome</th>
            <th>Classe</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aluno>
          <tr>
            <td>{{ aluno?.ra }}</td>
            <td>{{ aluno?.name }}</td>
            <td>{{ getDescricaoClasse(aluno.classId) }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="p-button-outlined p-button-danger"
      (click)="exibirModalAlunos = false"
      label="Sair"
      styleClass="p-button-text"
    ></button>
  </ng-template>
</p-dialog>
