:host::ng-deep {
  .card {
    cursor: pointer;
    .p-card {
      text-align: center;
      font-size: 20px;
      color: white;
    }
    i.pi {
      font-size: 6rem;
    }
    &.card_atividade {
      .p-card {
        background-color: #09a5df;
      }
    }
    &.card_atividade_reverso {
      .p-card {
        background-color: white;
        color: #09a5df;
      }
    }
    &.card_opcoes {
      .p-card {
        background-color: #005391;
      }
    }
  }
}
